<html ng-app='NetherTest'>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, height=device-height" >
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="app.js"></script>
  </head>

  <header>
    <br>
    <center><b>Snoozy</b></center>
<!--     <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="...">
          </a>
        </div>
      </div>
    </nav> -->
  </header>

<main class="container">
  <body class="body" ng-controller='NetherTestController'>
    <br>
    <center>
    <i>Don't miss your stop...</i>
    </center>
    <br>
    <form role = "search">
      <div class = "destination">
        <div class="form-group col-lg-1">
          <input class="form-control" type='text' ng-model='destination' placeholder='Enter Your Destination'>
        </div>
      </div>
    </form>

    <center>
    <button class="btn btn-success btn-lg" ng-click='sleep()'>Take a Nap</button>

    <h1>Current Location</h1>
    Latitude = {{locCoords.lat}}
    <br>
    Longitude = {{locCoords.lon}}

    <h1>Destination</h1>
    Latitude = {{destCoords.lat}}
    <br>
    Longitude = {{destCoords.lon}}
    </body>

    <h1>Distance To Your Stop</h1>
    {{distanceBetween}}
    <h1 ng-show='distanceBetween < 1'>WAKE UP!</h1>

    </center>

  </body>
</main>
</html>